name: Azure - ACI

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push Docker image
        uses: azure/docker@v1
        with:
          context: .
          dockerfile: Dockerfile
          image: ${{ secrets.REGISTRY_LOGIN_SERVER }}/20210889:v1

      - name: Deploy to Azure Container Instance
        uses: azure/aci-deploy@v1
        with:
          resource-group: ${{ secrets.RESOURCE_GROUP }}
          dns-name-label: devops-20210889
          location: germany west central
          images: ${{ secrets.REGISTRY_LOGIN_SERVER }}/20210889:v1
          name: 20210889
